<nav>
    <ul>
        <li>
          <a href="/"class="nav-link" >Individual</a>  
        </li>
        <li>
            <a href="/"class="nav-link">Business</a>  
          </li>
          <li>
            <a href="/"class="nav-link">Patner</a>  
          </li>
          <li>
            <a href="/"class="nav-link">UserInfo</a>  
          </li>
    </ul>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 imgClass2">
      <div class="row buttons">
          <button href="#" id="add" class="btn btn1 btn-primary a-btn-slide-text"
              >
              <i class="fa fa-plus fa-1x"></i>
              <span><strong> Add</strong></span>
          </button>
          <button href="#" id="show" class="btn btn1 btn-primary a-btn-slide-text" >
              <i class="fa fa-eye fa-1x"></i>
              <span><strong> Show</strong></span>
          </button>
          <button href="#" id="showall" class="btn btn1 btn-primary a-btn-slide-text" >
              <i class="fa fa-th-list fa-1x"></i>
              <span><strong> Show All</strong></span>
          </button>
          
      </div>
  </div>
</nav>
