#sliderBlock{
    background: url("../../assets/hero-banner.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    margin: -0px;
    width: 100%;
}
#sliderBlock article{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: rgb(255 255 255);
    margin: 0px 224px;
}
#sliderBlock article div{
    display: flex;
    flex-direction: column;
    height: 460px;
    justify-content: center;
}
#sliderBlock article div h1{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: 2px;
    font-family: fantasy;
    font-style: italic;
}
#sliderBlock article div > p{
    font-size: 17px;
    padding: 20px 0px;
}
#sliderBlock article div button{
    padding: 16px 40px;
    border-radius: 50px;
    width: 300px;
    display: block;
    font-size: 15px;
    background: rgb(0 112 186);
    color: rgb(255 255 255);
    border: none;
}