<section id="sliderBlock">
        <article>
            <div>
                <h1 style="color: black">Start shopping with PayPal today.</h1>
                <!-- <p>
                    Whether you're shopping in India or around the world, 
                    a PayPal account lets you check out safer, 
                    faster and easier. That's why we're accepted in over 
                    200 markets and trusted by over 325 million active accounts.
                </p> -->
                <p>
                    <button>sinup for free</button>
                </p>
                <p>
                    <a href="">For more about PayPal for your business or freelance needs,<br/>
                        <strong>go to PayPal Business.</strong>
                    </a>
                </p>
            </div>
        </article>
    </section>
