#registerForm{
    background: rgb(255 255 255);
    width:1350px;
    margin:10px;
    padding: 10px;
    height: 200px;
}
#registerForm article form{
    display: flex;
    height: 200px;
    align-items: center;
}
.form-group{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form-control{
    border: 1px solid rgb(204 204 204);
    padding:10px;
}
button{
    height: 39px;
    display:block;
    background: red;
    position: relative;
    top: 13px;
    color: rgb(255 255 255);
    text-transform: uppercase;
    border:none;
    font-weight: bold;
    letter-spacing: 1px;
}
h2{
    padding:7px 15px;
    border-bottom:1px solid rgb(204 204 204)
}
.errors p{
    color: rgb(255 0 0);
    padding: 6px 0px;
    font-weight: bold;
}
.errors{
    background: rgb(255 255 255);
    padding: 1px;
    border: 1px solid rgb(273 20 61 / 61%);
}